body {
    font-family: Raleway, regular;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    color: #000;
    padding: 10px 50px;
}

/* Navigation styles */
.posts,
.applicants {
    margin: 0 10px; /* Adjust the margin as needed to control spacing */
}

/* Link styles */
.posts a,
.applicants a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s; /* Add a smooth color transition effect */
}

/* Hover styles */
.posts a:hover,
.applicants a:hover {
    color: #007bff; /* Change the text color to blue on hover */
}
.logo {
    height: 70px;
    width: 300px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a.active {
    text-decoration: underline;
}

.icons {
    display: flex;
}

.notification-ic{
    width: 25px;
    height: 25px;
}

.notification-icon{
    position: relative;
    margin-right: 10px;
    cursor: pointer;
    top: 8px;
}

.profile-ic{
    width: 40px;
    height: 42px;
    top: 8px;
}


/* Main content styles */
main {
    padding: 20px;
}

.create-post button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.user-posts {
    margin-top: 20px;
}

.post {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.post h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

.edit-post,
.delete-post {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
}
